@import 'https://fonts.googleapis.com/css?family=Nunito&display=swap';
/* #15d16c */

body {
    font-family: 'Nunito', 'Segoe UI', sans-serif;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issue-container .list-group-item {
    display: flex;
    flex-direction: column;
}

.list-group-item {
    margin-bottom: 1px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.list-group-item [name*='edit'] {
    display: inline;
    opacity: 0;
    transition: 0.3s;
}

.issue-container .list-group-item [name*='edit'] {
    opacity: 1;
    display: flex;
}

.list-group-item:hover [name*='edit'] {
    display: inline;
    opacity: 1;
}

.modal-footer {
    border-top: none;
}

.issue-container .info {
    display: flex;
    flex-direction: column;
}