@import 'https://fonts.googleapis.com/css?family=Nunito&display=swap';

body {
    font-family: 'Nunito', 'Segoe UI', sans-serif;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issue-container .list-group-item {
    display: flex;
    flex-direction: column;
}

.list-group-item {
    margin-bottom: 1px;
    border-bottom: 1px solid whitesmoke;
}